@import '../../index.scss';

.homePage {
  background-color: $offWhite;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: $darkColor;
  text-decoration: underline;
  margin: 0;
}

.randomDrinkImg {
  max-width: 100%;
}

.banner-img {
  max-height: 50vh ;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}

main {
  max-width: 100vw;
}