.recipe__img {
  height: 20rem;
}

.page {
  background-color: #fcf9f0;
  display: flex;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;

}

.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}