@import '../../index.scss';

.navBar {
  background-color: $darkColor;
  height: 2rem;
  padding: 0.3rem;
}

.link {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: $offWhite;

  &:hover {
    background-color: $mediumColor;
  }
}
