.card {
  background-color: antiquewhite;
  max-width: 20rem;;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  &:hover {
    border: solid green 2px;
  }
}

.card__thumbnail {
  max-height: 20rem;
  border-radius: 3px;
  object-fit: contain;
  object-position: center;
}

.card__textBlock {
  padding: 1rem;
}

.card__drinkName {
  font-size: 1.4rem;
  color: #bf6410;
  margin: 0;
}