@import '../../index.scss';

.favorites-page {
  background-color: $offWhite;
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-favorites {
  margin-top: 3rem;
  align-self: center;
  color: $darkColor;
  font-weight: 500;
  font-size: 1.2rem;
}
